@charset "UTF-8";
/****************************************/
/******************mixin*****************/
/****************************************/
/****************************************/
/*****************variable***************/
/****************************************/
/****************************************/
/******************styles****************/
/****************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

body {
  position: relative;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
}

header {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.07);
}
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 50px;
}
header .header-wrapper .logo {
  position: relative;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 110px 50px 0;
}
section.bg {
  background: #f2f0eb;
}
section .section_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .section_wrap .img_wrap {
  width: 50%;
  height: 100%;
}
section .section_wrap .img_wrap .img_bg {
  overflow: hidden;
  max-width: 650px;
  max-height: 650px;
  padding-top: 200px;
  margin: 100px auto;
  display: block;
  min-height: 200px;
  min-width: 200px;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 1000px;
  background: 0% 0%/1600% 1600% #1f3933;
  animation: 10s ease-in-out 0s infinite alternate both running mymove;
}
section .section_wrap .img_wrap .img_bg img {
  max-width: 100%;
}
section .section_wrap .text_wrap {
  text-align: left;
  width: 45%;
}
section .section_wrap .text_wrap h2 {
  font-size: 48px;
  margin-bottom: 15px;
  line-height: 1.2;
}
section .section_wrap .text_wrap h2.textGradient1 {
  background-color: yellow;
  background-image: linear-gradient(45deg, #c3cb49, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
section .section_wrap .text_wrap h2.textGradient2 {
  background-color: orange;
  background-image: linear-gradient(45deg, #f4ad9a, #db1b12);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
section .section_wrap .text_wrap h2.textGradient3 {
  background-color: red;
  background-image: linear-gradient(45deg, #f18ea0, #471522);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
@keyframes mymove {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: calc(100vh - 109px);
}
.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  z-index: 999;
}
.content .imgBox img {
  max-width: 340px;
}
.content .textBox {
  position: relative;
  max-width: 600px;
  padding-bottom: 50px;
  text-align: left;
}
.content .textBox a {
  padding: 15px 25px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
  background: #017143;
  text-decoration: none;
  font-weight: 500;
  border-radius: 40px;
}
.content .textBox p {
  color: #333;
}
.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1em;
  font-weight: bold;
  height: 2em;
  transition: 0.5s;
  background-color: #017143;
  background-image: linear-gradient(45deg, #CA4246 16.666%, #eb7495 16.666%, #eb7495 33.333%, #F18F43 33.333%, #F18F43 50%, #017143 50%, #017143 66.666%, #d752b1 66.666%, #d752b1 83.333%, #A7489B 83.333%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
@media only screen and (min-width: 1920px) {
  .content .textBox h2 {
    font-size: 5em;
  }
}
.content .textBox h2 span {
  font-size: 1.2em;
  font-weight: 900;
  background-color: chartreuse;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  display: flex;
  z-index: 999;
}
.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover {
  transform: translateY(-15px);
}
.thumb li img {
  max-width: 60px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(58% at right 105%);
  transition: 0.1s;
  z-index: 99;
}

/****************************************/
/******************swiper****************/
/****************************************/
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  position: static;
}
.swiper-pagination span:nth-child(1):before {
  content: "Home";
}
.swiper-pagination span:nth-child(2):before {
  content: "Kiwi";
}
.swiper-pagination span:nth-child(3):before {
  content: "Strawberry";
}
.swiper-pagination span:nth-child(4):before {
  content: "Mango";
}

.swiper-pagination-bullet {
  width: 90px;
  background: #fff;
  color: #333;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff;
  height: 8px;
  border-radius: 0;
  font-weight: bold;
}

/****************************************/
/************mobile navigation***********/
/****************************************/
@media only screen and (max-width: 780px) {
  header .swiper-pagination {
    display: none;
    width: 100%;
  }
  header .swiper-pagination span {
    width: 100%;
    font-size: 40px;
    color: #fff;
    font-weight: 100;
    margin: 10px 0;
  }
  header .swiper-pagination .swiper-pagination-bullet {
    background: #017143;
    height: 100%;
    display: block;
  }
  header .swiper-pagination .swiper-pagination-bullet-active {
    font-weight: bold;
  }
  header .mobile-menu {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    padding: 0;
    text-align: center;
  }
  header .mobile-menu li {
    padding-bottom: 10px;
  }
  header .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    z-index: 10;
  }
  header .toggle:before {
    content: "";
    color: #000;
    font-weight: 900;
    font-size: 24px;
    font-family: "Font Awesome 5 Free";
  }
  header .active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #017143;
  }
  header .active:before {
    position: fixed;
    top: 52px;
    right: 48px;
    content: "";
  }

  section .content {
    align-items: flex-start;
    padding-top: 200px;
  }
  section .content .imgBox {
    display: none;
  }
  section .content .textBox {
    max-width: 100%;
  }
  section .content .textBox h2 {
    font-size: 40px;
  }
  section .section_wrap {
    display: block;
  }
  section .section_wrap .img_wrap {
    width: 100%;
  }
  section .section_wrap .img_wrap .img_bg {
    margin: 100px auto 20px;
    max-height: 450px;
  }
  section .section_wrap .img_wrap .img_bg img {
    max-width: 70%;
  }
  section .section_wrap .text_wrap {
    width: 100%;
  }
  section .section_wrap .text_wrap h2 {
    text-align: center;
    font-size: 40px;
  }
  section .section_wrap2 {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 1000px) {
  .img_bg {
    max-height: 550px;
  }
}
@media only screen and (max-width: 1280px) {
  header .header-wrapper {
    padding: 20px;
  }

  .content .textBox {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 420px) {
  section {
    padding: 110px 20px;
  }
  section .section_wrap .img_wrap .img_bg {
    max-height: 350px;
    padding-top: 150px;
  }
}

/*# sourceMappingURL=main.css.map */
