/****************************************/
/******************mixin*****************/
/****************************************/
@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
@mixin display-flex {
  @include flex;
  // max-width: 1280px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
@mixin media_circle {
  @media only screen and (min-width: $breakpoint-widescreen) {
    clip-path: circle(1300px at right 1500px);
  }
}
@mixin media_fontsize {
  @media only screen and (min-width: $breakpoint-widescreen) {
    font-size: 5em;
  }
}
@mixin text_gradient {
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
/****************************************/
/*****************variable***************/
/****************************************/
$breakpoint-widescreen: 1920px;
$breakpoint-desktop: 1280px;
$breakpoint-laptop: 1000px;
$breakpoint-tablet: 780px;
$main-color:#017143;
$secondary-color:#1f3933;

/****************************************/
/******************styles****************/
/****************************************/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}
body {
  position: relative;
  height: 100%;
}
html {
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 110px 50px 0;
  // background: #f2f0eb;
}
header {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  top:0;
  left:0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
  .header-wrapper {
    @include flex;
    // max-width: 1280px;
    margin:0 auto;
    padding:20px 50px;
    .logo {
      position: relative;
      }
  }
}

header {
  ul {
  position: relative;
  display: flex;
    li {
      list-style: none; 
       a {
        display: inline-block;
        color:#333;
        font-weight: 400;
        margin-left: 40px;
        text-decoration: none;
      }
    }
  }
}

.content {
  @include display-flex;
  height:calc(100vh - 109px);
  .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right:50px;
    z-index: 999;
    img {
      max-width: 340px;
    }
  }
  .textBox {
    position: relative;
    max-width: 600px;
    padding-bottom: 50px;
    text-align: left;
    a {
      padding:15px 25px;
      text-align: center;
      color:#fff;
      margin-top:20px;
      display: inline-block;
      background:$main-color;
      text-decoration: none;
      font-weight: 500;
      border-radius: 40px;
    }
    p {
      color:#333
    }
    h2 {
      @include media_fontsize;
      color:#333;
      font-size: 4em;
      line-height: 1em;
      font-weight: bold;
      height:2em;
      transition: 0.5s;
      background-color: $main-color;
      background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #eb7495 16.666%, 
        #eb7495 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #017143 50%, 
        #017143 66.666%, 
        #d752b1 66.666%, 
        #d752b1 83.333%, 
        #A7489B 83.333%);
      @include text_gradient;
      span {
        // color:$main-color;
        font-size: 1.2em;
        font-weight: 900;
        background-color: chartreuse;
      }
    }
  }
}

.thumb {
  position: absolute;
  left:50%;
  bottom: 5%;
  transform: translateX(-50%);
  display: flex;
  z-index: 999;
  li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      transform: translateY(-15px);
    }
    img {
      max-width: 60px;
    }
  }
}

.circle {
  // @include media_circle;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: $main-color;
  clip-path:circle(58% at right 105%);
  transition: 0.1s;
  z-index: 99;
}

.section_wrap {
  overflow: hidden;
  min-height: 100%;
  .img_wrap1 {
    width:50%;
    height: 100%;
    float:left
  }
  .text_wrap1 {
    float:right;
  }
}



.img_bg {
  // background-color:$secondary-color;
  overflow: hidden;
  max-width:650px;
  max-height:650px;
  padding-top:200px;
  margin: 100px auto;

  display: block;
  // width: 100%;
  // height: 100%;
  min-height: 200px;
  min-width: 200px;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 1000px;
  background:  0% 0% / 1600% 1600% $secondary-color;
  animation: 12s ease-in-out 0s infinite alternate both running mymove;
  img {
    max-width: 100%;
  }
}
@keyframes mymove {
  0%, 100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}
  
.text_wrap {
  text-align: left;
  width:45%;
  h2 {
    font-size: 48px;
    margin-bottom:15px;
    &.textGradient1 {
      background-color: yellow;
      background-image: linear-gradient(45deg, #c3cb49, #af4261);
      @include text_gradient;
    }
    &.textGradient2 {
      background-color: orange;
      background-image: linear-gradient(45deg, #f4ad9a, #db1b12);
      @include text_gradient;
    }
    &.textGradient3 {
      background-color: red;
      background-image: linear-gradient(45deg, #f18ea0, #471522);
      @include text_gradient;
    }
  }
}
/****************************************/
/******************swiper****************/
/****************************************/

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  position: static;
  span {
    &:nth-child(1) {
      &:before {
        content:'Home'
      }
    }
    &:nth-child(2) {
      &:before {
        content:'Kiwi';
      }
    }
    &:nth-child(3) {
      &:before {
        content:'Strawberry';
      }
    }
    &:nth-child(4) {
      &:before {
        content:'Mango';
      }
    }
  }
}
.swiper-pagination-bullet{
  width:90px;
  background:#fff;
  color:#333;
  opacity:1;
}
.swiper-pagination-bullet-active {
  background:#fff;
  height: 8px;
  border-radius: 0;
  font-weight: bold;
}

@media only screen and (max-width: $breakpoint-tablet) {
  .content {
    align-items: flex-start;
    padding-top:200px;
  }
  .content {
    .imgBox {
      display: none;
    }
  }
  .content {
    .textBox {
    max-width: 100%;
    }
  }
  .content {
    .textBox {
      h2 {
    font-size: 40px;
  }}}
  .section_wrap {
    display: block;
    .img_wrap {
      width:100%;
      .img_bg {
        margin: 20px auto;
      }
    }
    .text_wrap {
      width:100%;
      h2 {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-laptop) { 
  .img_bg {
    max-height: 550px;
  }
}

@media only screen and (max-width: $breakpoint-desktop) {
  header {
    .header-wrapper {
      padding:20px;
    }
  }
  .content {
    .textBox {
      padding:0 20px;
    }
  }
}
