/****************************************/
/******************mixin*****************/
/****************************************/
@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
@mixin display-flex {
  @include flex;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
@mixin media_circle {
  @media only screen and (min-width: $breakpoint-widescreen) {
    clip-path: circle(1300px at right 1500px);
  }
}
@mixin media_fontsize {
  @media only screen and (min-width: $breakpoint-widescreen) {
    font-size: 5em;
  }
}

/****************************************/
/*****************variable***************/
/****************************************/
$breakpoint-widescreen: 1920px;
$breakpoint-desktop: 1280px;
$breakpoint-tablet: 780px;
$main-color:#017143;

/****************************************/
/******************styles****************/
/****************************************/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}
body {
  position: relative;
  height: 100%;
}
html {
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 110px 0 0;
  background: #fff;
}
header {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  top:0;
  left:0;
  .header-wrapper {
    @include flex;
    max-width: 1280px;
    margin:0 auto;
    padding:20px 50px 20px 0;
    .logo {
      position: relative;
      }
  }
}

header {
  ul {
  position: relative;
  display: flex;
    li {
      list-style: none; 
       a {
        display: inline-block;
        color:#333;
        font-weight: 400;
        margin-left: 40px;
        text-decoration: none;
      }
    }
  }
}

.content {
  @include display-flex;
  height:calc(100vh - 109px);
  .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right:50px;
    z-index: 999;
    img {
      max-width: 340px;
    }
  }
  .textBox {
    position: relative;
    max-width: 600px;
    padding-bottom: 50px;
    text-align: left;
    a {
      padding:15px 25px;
      text-align: center;
      color:#fff;
      margin-top:20px;
      display: inline-block;
      background:$main-color;
      text-decoration: none;
      font-weight: 500;
      border-radius: 40px;
    }
    p {
      color:#333
    }
    h2 {
      @include media_fontsize;
      color:#333;
      font-size: 4em;
      line-height: 1em;
      font-weight: bold;
      transition: 0.5s;
      background-color: $main-color;
      background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #eb7495 16.666%, 
        #eb7495 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #017143 50%, 
        #017143 66.666%, 
        #d752b1 66.666%, 
        #d752b1 83.333%, 
        #A7489B 83.333%);
      background-size: 100%;
      background-repeat: repeat;
      /* Use the text as a mask for the background. */
      /* This will show the gradient as a text color rather than element bg. */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      span {
        // color:$main-color;
        font-size: 1.2em;
        font-weight: 900;
        background-color: chartreuse;
      }
    }
  }
}

.thumb {
  position: absolute;
  left:50%;
  bottom: 5%;
  transform: translateX(-50%);
  display: flex;
  z-index: 999;
  li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      transform: translateY(-15px);
    }
    img {
      max-width: 60px;
    }
  }
}

.circle {
  // @include media_circle;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: $main-color;
  clip-path:circle(60% at right 100%);
  transition: 0.1s;
  z-index: 99;
}
/****************************************/
/******************swiper****************/
/****************************************/

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

@media only screen and (max-width: $breakpoint-tablet) {
  .content {
    align-items: flex-start;
    padding-top:200px;
  }
  .content {
    .imgBox {
      display: none;
    }
  }
  .content {
    .textBox {
    max-width: 100%;
    }
  }
  .content {
    .textBox {
      h2 {
    font-size: 40px;
  }}}
}

@media only screen and (max-width: $breakpoint-desktop) {
  header {
    .header-wrapper {
      padding:20px;
    }
  }
  .content {
    .textBox {
      padding:0 20px;
    }
  }
}